body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fcfdfd;
  color: #010101;
  text-align: center;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.colored-box {
  background-color: #0056d6;
  color: white;
  padding: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.service-box {
  background-color: #e3f2fd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.service-box:hover {
  transform: scale(1.05);
}
.service-box img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  border: 2px solid #007bff;
  border-radius: 10px;
}
.footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 40px 0;
  margin-top: auto;
  width: 100%;
  font-size: 40px;
}
@media (max-width: 600px) {
  .colored-box {
    font-size: 40px;
  }
  .service-box p {
    font-size: 40px;
  }
}
